.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-bottom: 0.5rem
}

.btn-extra {
  margin: 0.5rem 1rem
}

.form-link {
  margin-top: 0.5rem;
}