.nav-title a {
  color: var(--primary-color);
  text-transform: capitalize;
}

.nav-title {
  padding: var(--sm-spacing);
}

.nav-notes {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-menu {
  display: none;
  opacity: var(--opacity-default);
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .nav-notes {
    justify-content: space-between;
  }

  .nav-menu {
    display: inline-block;
  }
}
