.sidebar {
  padding: var(--xxl-spacing) var(--default-spacing) 0;
  width: min(18.75rem, 70vw);
  min-height: 100vh;
  background-color: var(--basic-bg);
  z-index: -1;
  position: sticky;
  top: 0;
}

.sidebar-container {
  position: fixed;
  width: min(16.75rem, 70vw);
}

@media screen and (max-width: 1050px) {
  .sidebar-inactive {
    display: none;
  }

  .sidebar-active {
    display: inline-block;
    position: fixed;
    z-index: 5;
    box-shadow: var(--default-shadow);
  }
}

.sidebar-menuItem {
    display: flex;
    align-items: center;
    gap: var(--sm-spacing);
    text-transform: capitalize;
    opacity: var(--opacity-default);
    font-size: var(--md-font-s);
    padding: var(--default-spacing);
    margin-bottom: 4px;
    line-height: 0.9;
    border-bottom: var(--basic-border);
}

.sidebar-HOC {
  display: flex;
  position: relative;
  z-index: 0;
}

.sidebar-RHS {
  flex: 1;
  min-height: 100vh;
  padding: var(--xxl-spacing) var(--default-spacing) var(--default-spacing);
}
