.addNotes {
  width: var(--maincontent-width);
  background-color: var(--basic-bg);
  border-radius: var(--default-border);
  padding: var(--default-spacing);
  box-shadow: var(--default-shadow);
}

.input {
  border-radius: var(--default-border);
}

.addNotes-title {
  opacity: var(--opacity-default);
}

.addNotes-header {
  padding-bottom: var(--default-spacing);
  border-bottom: var(--basic-border);
}

.addNotes-form {
  padding: var(--default-spacing) 0;
  border-bottom: var(--basic-border);
}

.addNotes-input {
  width: 100%;
  border-radius: var(--default-border);
}

.addNotes-description {
  width: 100%;
  margin-top: var(--default-spacing);
}

.addNotes-btn {
  margin: 0;
}

.addNotes-bottomStrip {
  padding-top: var(--default-spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addNotes-bottomIcons {
  font-size: var(--md-font-s);
}

.addNotes-bottomIcons {
  display: flex;
  align-items: center;
  gap: var(--default-spacing);
}

.addNotes-bottomIcons > svg {
  opacity: var(--opacity-reduced);
}

.addNotes-bottomIcons > svg:hover {
  opacity: var(--opacity-default);
  cursor: pointer;
}
